<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Faster CacheManager</label>
    <label lang="de">Schneller CacheManager</label>

    <version>1.0.4</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://github.com/FriendsOfShopware/FroshFasterCacheManager</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.3.4"/>

    <description><![CDATA[
Speed up the CacheManager. This plugin makes it possible to speed up the CacheManager by using shell commands. Calculates size and count of every item within folder, not just files.
        ]]>
    </description>

    <description lang="de"><![CDATA[
Beschleunigen Sie den CacheManager. Dieses Plugin ermöglicht es, den CacheManager durch Verwendung von Shell-Befehlen zu beschleunigen. Deutlich schnelleres Löschen von Cache-Folder.
        ]]>
    </description>

    <changelog version="1.0.4">
        <changes lang="de">Dieses Update stellt nun sicher, dass das Event Shopware_Plugins_HttpCache_ClearCache immer gerufen wird</changes>
        <changes>This update ensures the event Shopware_Plugins_HttpCache_ClearCache to be fired</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">Willkommen bei FriendsOfShopware. Dieses Plugin ist nun Teil von Frosh.</changes>
        <changes>Welcome to FriendsOfShopware. This plugin is now part of Frosh.</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Kompatibilität für ältere Versionen</changes>
        <changes>Compatibility for older version</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Kompatibilität für ältere Versionen</changes>
        <changes>Compatibility for older version</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Prüfung und Alternative zu rsync eingefügt</changes>
        <changes>Check and related alternative to rsync implemented</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes>First release</changes>
    </changelog>

</plugin>
